Single Sentence pitch: Our project transforms your daily fashion decisions with automated wardrobe selections,
effortlessly recommending weather-appropriate outfits and stylish color palettes, so you consistently look and feel your best
without having to struggle picking your own clothes.


Pitch: Our project is

Actually, just go to this link lol:
https://docs.google.com/document/d/158QuSX5NawBlrb9_dkhTNtxgpQysU88Bw-ebDoT6oqg/edit?usp=sharing