body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
header {
  background-color: #008cff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
h1 {
  font-size: 24px;
  margin: 0;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
video {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
select {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
}
canvas {
  display: none;
}
#captured-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
#frame-container {
  margin-top: 20px;
}