<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Outfits</title>
    <link rel= "stylesheet"  type= "text/css" href= "{{ url_for('static',filename='css/generations.css') }}">
</head>
<body>
    <header>
        <h1>Outfit Planner</h1>
    </header>

    <div class="container">
        <h2>Generated Outfit</h2>
        <h2>
            {% for item in weather_message %}
                <li>{{item}}</li?
            {% endfor %}
        </h2>
        <div id="buttons">
            <button id="generate-outfits">Generate Outfits</button>
            <button id="upload">Take Photo of Clothing</button>
        </div>
        <div id="outfits-container">
            {% for filename in outfits %}
            <img src="{{ url_for('uploaded_images', filename=filename) }}" alt="Image">
            {% endfor %}
        </div>
    </div>


    <script>
        const generateOutfits = document.getElementById('generate-outfits')
        const uploadButton = document.getElementById('upload')

        uploadButton.addEventListener('click', () => {
            window.location.href = '/';
        })

        // Generate Outfits
        generateOutfits.addEventListener('click', () => {
            window.location.href = '/generate_outfits';
        })












    </script>

</body>
</html>