<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outfit Planner</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<body>
    <header>
        <h1>Outfit Planner</h1>
    </header>
    <div class="container">
        <video id="webcam" autoplay></video>
        <button id="capture">Upload Clothes</button>
        <!--<button id="view-frames">View Uploaded Clothes</button>--> 
        <button id="generate-outfits">Generate Outfits</button>
        <canvas id="canvas" style="display: none;"></canvas>
        <img id="captured-image" src="">
        <div id="frame-container"></div>


        <label for="clothing-type">Select Clothing Type:</label>
        <select id="clothing-type">
            <option value="Shirtshort">Shirt (short sleeve) </option>
            <option value="Shirtlong">Shirt (long sleeve) </option>
            <option value="Pants">Pants</option> 
            <option value="Shorts">Shorts</option>
            <option value="Jacket">Jacket</option>
            <option value="Knitwear">Knitwear</option>
            <option value="Shoes">Shoes</option>
        </select>
    </div>
    
    <script>
        const video = document.getElementById('webcam');
        const canvas = document.getElementById('canvas');
        const capturedImage = document.getElementById('captured-image');
        const captureButton = document.getElementById('capture');
        const generateOutfits = document.getElementById('generate-outfits')

        // accessing the devices webcam stream
        navigator.mediaDevices
            .getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(error => {
                console.error('Error accessing webcam:', error);
            });

        // Capture a frame from the webcam stream
        captureButton.addEventListener('click', () => {
            const clothingType = document.getElementById('clothing-type').value;
            const context = canvas.getContext('2d');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            // converting frame to image then displaying
            capturedImage.src = canvas.toDataURL('image/png');
            // Send the captured frame to your Flask app for storage
            const imageData = canvas.toDataURL('image/png');
            fetch('/capture', {
                method: 'POST',
                body: new URLSearchParams({ 'imageData': imageData, 'clothingType': clothingType}),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            });
        });


        // Generate Outfits
        generateOutfits.addEventListener('click', () => {
            window.location.href = '/generate_outfits';
        })




        // view stored frames
        viewFramesButton.addEventListener('click', () => {
            fetch('/view_frames')
                .then(response => response.json())
                .then(data => {
                    // Display stored frames in the console (you can display them on the page as needed)
                    console.log(data);
                });
        });
    </script>
</body>
</html>
